<!DOCTYPE html>
<html ng-app="MyApp">
<head>
     <title>Learning AngularJS</title>
	 <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css" type="text/css"/>
	 <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" type="text/css"/>
	 <link rel="stylesheet" href="css/table.css" type="text/css"/>
	 <script src="lib/jQuery.min.js" type="text/javascript"></script>
	 <script src="http://code.highcharts.com/highcharts.js"></script>
     <script src="http://code.highcharts.com/modules/exporting.js"></script>
     <script src="lib/angular.min.js" type="text/javascript"></script>
	 <script src="lib/d3.min.js" type="text/javascript"></script>
	  <script src="components/barchartWithHighChart.js" type="text/javascript"></script>
	 <script src="components/barChart.js" type="text/javascript"></script>
     <script src="controllers/tableController.js" type="text/javascript"></script>
	
</head>
<body>
<div class="main-container">
	<div ng-controller="TableController">
      <div class="chart-container"></div>
      <div class="chart-details">{{selectedHeader}}
	  <div class="description"> This is a dummy description which will be replaced by a scope variable letter when real description is available
	  This is a dummy description which will be replaced by a scope variable letter when real description is available
	  This is a dummy description which will be replaced by a scope variable letter when real description is available
	  This is a dummy description which will be replaced by a scope variable letter when real description is available</div></div>
		<!-- Table goes in the document BODY -->
		<table class="gridtable">
			<thead>
				<tr>
				    
					<th ng-repeat="metric in metrics" class="{{metric.name}}-{{$index}}" ng-class="{'selected' :(metric.name == selectedHeader || metric.name == defaultSelectedMetrics), 'head-selected' :(metric.name == selectedHeader && metric.name != defaultSelectedMetrics), 'last-head' : $index == data.length}" ng-click="sortTable(metric.name, $index)">
					<div class="outer-container" ng-class="{'last-head' :$index == (metrics.length - 1)}"><div class="text" ng-class="{'div-selected' :(metric.name == selectedHeader)}">{{metric.title}}
					<i class="up-arrow fa fa-chevron-up"  ng-click="sortTable(metric.name, $index)" ng-show="(metric.name == selectedHeader && !sortObject[selectedHeader].sortOrder)"></i>
					<i class="down-arrow fa fa-chevron-down"  ng-click="sortTable(metric.name, $index)" ng-show="(metric.name == selectedHeader && sortObject[selectedHeader].sortOrder)"></i>
					</div>
					</div>
					
					</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="row in data | orderBy : selectedHeader:sortObject[selectedHeader].sortOrder">
					<td ng-repeat="metric in metrics" class="{{metric.name}}-{{$index}} metric" ng-class="{'selected' :(selectedHeader == metric.name || metric.name == defaultSelectedMetrics),'body-selected' :(selectedHeader == metric.name), 'first-body-selected': (selectedHeader == metric.name && $parent.$index == 0), 'second-column': ($index == 1 && selectedHeader == secondColumn)}" >
						<div class="hidden-div" ng-show = "(selectedHeader == metric.name && selectedHeader != defaultSelectedMetrics) && ($parent.$index == 0 && $index == selectedColumn )" ng-class="{'selected-second-div': ($index == 1 && selectedHeader == secondColumn)}"></div>
						<div class="content">{{row[metric.name]}}</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
</body>
</html>